
.main__menu-loco {
	font: 500 32px/35px 'Montserrat-Medium', sans-serif;
	color: white;
}
.main__menu-ru {
	font: 500 20px/24px 'Montserrat-Medium', sans-serif;
	color: white;
}
.main__block-content-title {
	font: 700 5.55vw/5.7vw 'Montserrat-Bold', sans-serif;
}
.main__block-content-text {
	font: 400 15px/21px 'Montserrat-Regular', sans-serif;
}
.main__block-buttons-next {
	font: 500 0.9vw 'Montserrat-Medium', sans-serif;
}
.main__block-buttons-rest {
	font: 500 0.9vw 'Montserrat-Medium', sans-serif;
}
.main-second__block-title {
	font: 700 40px/41px 'Montserrat-Bold', sans-serif;
}
.main-second__block-subtitle {
	font: 700 16px/16px 'Montserrat-Bold', sans-serif;
}
.main-second__block-text {
	font: 400 15px/21px 'Montserrat-Regular', sans-serif;
}
.block-circle__price {
	font: 700 40px/56px 'Montserrat-Bold', sans-serif;
}
.main-second__block-buttons-counter {
	font: 500 15px 'Montserrat-Medium', sans-serif;
}
.main-second__block-buttons-basket {
	font: 500 13px 'Montserrat-Medium', sans-serif;
}
.main-second__block-rest {
	font: 500 16px 'Montserrat-Medium', sans-serif;
}
.main-third__block-title {
	font: 700 40px/41px 'Montserrat-Bold', sans-serif;
}
.main-third__block-subtitle {
	font: 700 16px/16px 'Montserrat-Bold', sans-serif;
}
.main-third__block-text {
	font: 400 15px/21px 'Montserrat-Regular', sans-serif;
}
.main-third__block-buttons-counter{
	font: 500 15px 'Montserrat-Medium', sans-serif;
}
.main-third__block-buttons-basket {
	font: 500 13px 'Montserrat-Medium', sans-serif;
}
.main-third__block-rest {
	font: 500 13px/16px 'Montserrat-Medium', sans-serif;
}
.main-third__footer-text {
	font: 700 12px/15px 'Montserrat-Bold', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
.main {
	background-image: linear-gradient(to right, black 32%, white 32%);
}
.main__menu {
	display: flex;
	justify-content: space-between;
}
.main__menu-logo {
	display: flex;
	justify-content: space-between;
	width: 29%;
}
.main__menu-loco {
	margin: 37px 0 0 12.5%;
}
.main__menu-ru {
	position: relative;
	padding-top: 42px;
}
.main__menu-ru::after {
	content: '';
	position: absolute;
    background-image: url(img/Vector.svg);
    width: 13px;
    height: 7.5px;
	left: 36px;
	top: 52px;
	background-color: black;
}
.main__menu-burger {
	width: 92px;
	height: 92px;
	background-color: #E5E5E5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__menu-burger-line {
	width: 35px;
	height: 3px;;
	background-color: black;
	margin-bottom: 6px;
}
.main__menu-burger-line:last-child {
	margin-bottom: 0px;
}
.main__block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 12.4% 0 0 0;
	background: no-repeat left 20.85% top 47.5% url(img/bella.png);
	background-size: 38.2%;
}
.main__block-content {
	width: 32.2%;
	margin-right: 13%;
}
.main__block-content-title {
	margin: 0 0 3.8% 0;
}
.main__block-content-text {
	margin: 0 0 10.8% 0;
}
.main__block-buttons {
	margin: 0 1.3% 11.8% 0;
	width: 44%;
}
.main__block-buttons-next {
	border: 1.5px solid black;
	padding: 12px 6%;
	position: relative;
	margin-right: 8%;
}
.main__block-buttons-rest {
	position: relative;
}
.main__block-buttons-rest::before {
	content: "";
	position: absolute;
	background-image: url(img/Vector_2.svg);
	background-repeat: no-repeat;
	width: 49%;
	height: 12px;
	left: 112%;
	top: 25%;
	z-index: 2;
}
.main__nav {
	display: flex;
	justify-content: flex-start;
	width: 70%;
	padding-bottom: 2.6%;
}
.main__nav-inst {
	background-image: url(img/instagram.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 43px;
	height: 43px;
	background-color: #FFF;
	border-radius: 22px;
	margin-left: 52px;
	margin-right: 12px;
}
.main__nav-vk {
	background-image: url(img/vk.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 43px;
	height: 43px;
	background-color: #FFF;
	border-radius: 22px;
	margin-right: 12px;
}
.main__nav-facebook {
	background-image: url(img/facebook.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 43px;
	height: 43px;
	background-color: #FFF;
	border-radius: 22px;
	margin-right: 49.7%;
}
.main__nav-mouse {
	width: 27px;
	height: 46px;
	background: no-repeat 50% 50% url(img/mouse.svg),no-repeat 55% 31% url(img/mouse2.svg);
}
/*Начало второго раздела*/
.main-second {
	background-color: #FAE8E4;
}
.main-second__block-title {
	margin: 0;
}
@media (min-width: 1441px) and (max-width: 1920px) {
	.main__block-content-text {
	font: 400 1vw/1.5vw 'Montserrat-Regular', sans-serif;
}
}
@media (max-width: 1439px) {
	.main__block-content-text {
	font: 400 1vw/1.5vw 'Montserrat-Regular', sans-serif;
}
}
@media (max-width: 767px) {
	.main {
    background-image: linear-gradient(to right, black 36%, white 32%);
}
.main__menu-loco {
    margin: 34px 0 0 30.5%;
}
	.main__menu {
		justify-content: space-between;
	}
	.main__menu-ru {
		display: none;
	}

	.main__block {
	display: flex;
	flex-direction: column;
	align-items: center	;
	padding: 68.4% 0 0 0;
	background: no-repeat left 23% top 12% url(img/bella.png);
	background-size: 55.2%;
	}
	.main__block-content {
    width: 40%;
    margin: 0 0 0 22%;
    }
    .main__block-content-title {
    font: 700 7.55vw/7.7vw 'Montserrat-Bold', sans-serif;
	}
    .main__block-content-text {
    margin: 0 0 10.8% 0;
    font: 400 2vw/2.6vw 'Montserrat-Regular', sans-serif;
	}
	.main__block-buttons {
    margin: 0 0 11.8% 25%;
    }
    .main__block-buttons-next {
    font: 500 1.4vw 'Montserrat-Medium', sans-serif;
	}
	.main__block-buttons-rest {
    font: 500 1.4vw 'Montserrat-Medium', sans-serif;
    }

    .main__block-buttons-rest::before {
    width: 66%;
	}
	.main__nav-inst {
    margin-left: 7%;
	}
	.main__nav-mouse {
		display: none;
	}
	.main-second {
		display: none;
	}
	.main-third {
		display: none;
	}
}
@media (max-width: 560px) {
	.main__menu-loco {
		margin: 10px 0 0 30.5%;
	}
	.main__menu-burger {
		width: 48px;
		height: 48px;
	}
	.main__nav {
		width: 70%;
	}
	.main__nav-inst {
		margin-left: 3%;
		width: 24px;
		height: 24px;
	}
	.main__nav-vk {
		width: 24px;
		height: 24px;
	}
	.main__nav-facebook {
		width: 24px;
		height: 24px;
	}
	.main__block-buttons-rest::before {
		background-size: 50%;
	}
}
